body {
    background-color:rgba(0, 0, 255, 0.335);
}

.main {
    display: grid;
    justify-content: center;
    gap: 50px;
}


.up{
    display: grid;
    justify-content: center;
    height: 40px;
}


.down{
    border-style: solid;
    width: 1200px;
    height: 800px;
    background-color: cornflowerblue;
}

.h {
    color: rgba(255, 255, 255, 0.89);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    align-content: center;
}


.half {
    margin-top: 400px;
    margin-left: 500px;
    
}